.navbar-inverse {
    background-color: #3982F3;
    border-color: #3982F3;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #3982F3;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #f2f2f2;
    color: black;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse[_ngcontent-c1] .navbar-nav[_ngcontent-c1]>.active[_ngcontent-c1]>a[_ngcontent-c1] {
    background-color: #f2f2f2;
    // color: white;
}